.podcast {
  display: flex;
  background-color: #f0f0f0;
  justify-content: center;
  height: 100vh;
}

.podcast__dock {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.podcast__player {
  width: 50%;
  display: flex;
  height: 90vh;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  /* border: 1px solid black; */
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.4);
}

.podcast__contents {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 90vh;
  overflow-y: scroll;
  display: flex;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  /* border: 1px solid black; */
  align-items: center;
  /* justify-content: center; */
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2),
    -6px -6px 12px rgba(255, 255, 255, 0.4);
}

@media only screen and (max-width: 760px) {
  .podcast {
    align-items: flex-start;
    height: 100%;
  }

  .podcast__dock {
    flex-direction: column;
    overflow-y: scroll;
  }
  .podcast__player {
    margin: 15px;
    height: 680px;
    width: 90%;
  }
  .podcast__contents {
    height: 300px;
    overflow: hidden;
    margin-bottom: 15px;
    overflow-y: scroll;
    width: 90%;
  }
}
